.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.Rbuildignore

# folders
data-raw/allAssessments
data-raw/Assessment_Summary_data.xlsx
data-raw/old
data-raw/temp

# files created from workflow
README.html
data-raw/newData.rds
data-raw/newSummary.rds
data-raw/sendAsEmail.html
data-raw/tempData.rds
data-raw/tempSummary.rds
